﻿table {
    width: 80%;
}

th, td {
    text-align: center;
    border-bottom: 2px solid #ddd;
}

th {
    font-size: 40px;
    height: 30px;
}

td {
    font-size: 25px;
    height: 40px;
    text-align: center;
    vertical-align: central;
}

hr {
    border-top-width: 2px;
    border-top-color: black
}