﻿@model IEnumerable<Final2.Models.Actor>

@{
    ViewBag.Title = "Actors";
}

<h2>Actors</h2>

<table class="table">

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Actor1)
        </td>
    </tr>
}

</table>
