﻿@model IEnumerable<Final2.Models.Cast>

@{
    ViewBag.Title = "Cast";
}

<h2>Cast</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Movie)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Actor)
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Actor)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Movie)
        </td>
    </tr>
}

</table>
