﻿@model IEnumerable<Final2.Models.Actor>
@{
    ViewBag.Title = "Home Page";
}


<div class="row">


    <input id="one" name="Felicity Jones" type="button" value="Felicity Jones" class="btn" />
    <input id="two" name="Mads Mikkelse" type="button" value="Mads Mikkelse" class="btn" />
    <input id="three" name="Benedict Cumberbatch" type="button" value="Benedict Cumberbatch" class="btn" />
    <input id="four" name="Rachel McAdams" type="button" value="Rachel McAdams" class="btn" />


</div>

<div id="listHere"></div>

@section PageScripts
{
    <link href="~/Content/Movie.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/Buttons.js"></script>
}