﻿@model HW8.Models.Pirate

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Pirate</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PirateName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PirateName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ShanghaiDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ShanghaiDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Crews.First().BootyValue)
        </dt>

        <dd>
            @Model.Crews.Select(c => c.BootyValue).Sum()
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.PirateID }) |
    @Html.ActionLink("Back to Roster", "Pirates")
</p>
