﻿@model HW8.Models.PirateListViewModel

@{
    ViewBag.Title = "Pirates";
}


<h2>Pirates</h2>

<p>
    @Html.ActionLink("Create New", "Create", "Pirate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pirates.FirstOrDefault().PirateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pirates.FirstOrDefault().ShanghaiDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Pirates) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.PirateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShanghaiDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.PirateID }) |
            @Html.ActionLink("Details", "Details", new { id=item.PirateID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.PirateID })
        </td>
    </tr>
}

</table>

<div>
    @using HW8.Helpers 
    @Html.PageLinks(Model.PagingInfo, x => Url.Action("Pirates", new { page = x }))
</div>

