﻿@model IEnumerable<Final.Models.Genre>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">Welcome to a very small online Art Museum.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Artists</h2>
        <p>
            Here you can see all 4 of our Artists.
        </p>
        @Html.ActionLink("Artist Lists", "Artists", "Home")
    </div>
    <div class="col-md-4">
        <h2>Art Work</h2>
        <p>We have slightly more Art Work than artists</p>
        @Html.ActionLink("Works of Art", "ArtWorks", "Home")
    </div>
    <div class="col-md-4">
        <h2>Genres</h2>
        <p>Check out what 4 genres we have!</p>
        @Html.ActionLink("Classification of Art", "Genres", "Home")
    </div>

    <br />
    <div id="buttons">
        @foreach (var button in Model)
        {
          <input id="@button.Name" name="@button.Name" type="button" value="@button.Name" class="btn" />
        }
    </div>
    <br />
    <div id="artworks"></div>
</div>

@section PageScripts
{
    <script type="text/javascript" src="~/Scripts/artwork.js"></script>
}