﻿@model IEnumerable<HW5.Models.ChangeForm>

@{
    ViewBag.Title = "ChangeList";
}

<center><h2>Awaiting Change Requests</h2></center>

<div>
    <table class="table">
        <tr>
            <th>@Html.LabelFor(model => model.FirstOrDefault().LastName)</th>
            <th>@Html.LabelFor(model => model.FirstOrDefault().FirstName)</th>
            <th>@Html.LabelFor(model => model.FirstOrDefault().MiddleInit)</th>
            <th>@Html.LabelFor(model => model.FirstOrDefault().Date)</th>
            <th>@Html.LabelFor(model => model.FirstOrDefault().PhoneNumber)</th>
            <th>@Html.LabelFor(model => model.FirstOrDefault().CatalogYear)</th>
            <th>@Html.LabelFor(model => model.FirstOrDefault().StudentID)</th>
            <th>@Html.LabelFor(model => model.FirstOrDefault().WOUEmail)</th>
            <th>@Html.LabelFor(model => model.FirstOrDefault().ChangeOfMajor)</th>
            <th>@Html.LabelFor(model => model.FirstOrDefault().ChangeOfMinor)</th>
            <th>@Html.LabelFor(model => model.FirstOrDefault().ChangeOfAdvisor)</th>
            <th>@Html.LabelFor(model => model.FirstOrDefault().Major1)</th>
            <th>@Html.LabelFor(model => model.FirstOrDefault().Major2)</th>
            <th>@Html.LabelFor(model => model.FirstOrDefault().Minor1)</th>
            <th>@Html.LabelFor(model => model.FirstOrDefault().Minor2)</th>
            <th>@Html.LabelFor(model => model.FirstOrDefault().Advisor)</th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(model => item.LastName)</td>
                <td>@Html.DisplayFor(model => item.FirstName)</td>
                <td>@Html.DisplayFor(model => item.MiddleInit)</td>
                <td>@Html.DisplayFor(model => item.Date)</td>
                <td>@Html.DisplayFor(model => item.PhoneNumber)</td>
                <td>@Html.DisplayFor(model => item.CatalogYear)</td>
                <td>@Html.DisplayFor(model => item.StudentID)</td>
                <td>@Html.DisplayFor(model => item.WOUEmail)</td>
                <td>@Html.DisplayFor(model => item.ChangeOfMajor)</td>
                <td>@Html.DisplayFor(model => item.ChangeOfMinor)</td>
                <td>@Html.DisplayFor(model => item.ChangeOfAdvisor)</td>
                <td>@Html.DisplayFor(model => item.Major1)</td>
                <td>@Html.DisplayFor(model => item.Major2)</td>
                <td>@Html.DisplayFor(model => item.Minor1)</td>
                <td>@Html.DisplayFor(model => item.Minor2)</td>
                <td>@Html.DisplayFor(model => item.Advisor)</td>
            </tr>
        }

    </table>
</div>
<p>
    @Html.ActionLink("New Request", "Change", new { /*id = Model.ID */}) |
    @Html.ActionLink("Back to Index", "Index")
</p>
