﻿@model HW5.Models.ChangeForm

@{
    ViewBag.Title = "Change";
}

<h2>Request Change Form</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.FirstName, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.FirstName, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-2">
            @Html.LabelFor(model => model.MiddleInit, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.MiddleInit, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.MiddleInit, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.Date, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Date, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.CatalogYear, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.CatalogYear, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.CatalogYear, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="row">
        <div class="form-group col-md-4">
            @Html.LabelFor(model => model.StudentID, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.StudentID, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.StudentID, "", new { @class = "text-danger" })
        </div>
        <div class="form-group col-md-6">
            @Html.LabelFor(model => model.WOUEmail, htmlAttributes: new { @class = "control-label" })
            @Html.EditorFor(model => model.WOUEmail, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.WOUEmail, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="row">
        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.ChangeOfMajor, htmlAttributes: new { @class = "control-label" })
            @Html.CheckBoxFor(model => model.ChangeOfMajor, htmlAttributes: new { @class = "form-conrol" })
            @Html.ValidationMessageFor(model => model.ChangeOfMajor, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.ChangeOfMinor, htmlAttributes: new { @class = "control-label" })
            @Html.CheckBoxFor(model => model.ChangeOfMinor, htmlAttributes: new { @class = "form-conrol" })
            @Html.ValidationMessageFor(model => model.ChangeOfMinor, "", new { @class = "text-danger" })
        </div>

        <div class="form-group col-md-3">
            @Html.LabelFor(model => model.ChangeOfAdvisor, htmlAttributes: new { @class = "control-label" })
            @Html.CheckBoxFor(model => model.ChangeOfAdvisor, htmlAttributes: new { @class = "form-conrol" })
            @Html.ValidationMessageFor(model => model.ChangeOfAdvisor, "", new { @class = "text-danger" })
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                @Html.LabelFor(model => model.Major1, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Major1, new { htmlAttributes = new { @class = "form-control col-md-2" } })
                @Html.ValidationMessageFor(model => model.Major1, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-7">
            <div class="form-group">
                @Html.LabelFor(model => model.Minor1, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Minor1, new { htmlAttributes = new { @class = "form-control col-md-3" } })
                @Html.ValidationMessageFor(model => model.Minor2, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5">
            <div class="form-group">
                @Html.LabelFor(model => model.Major2, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Major2, new { htmlAttributes = new { @class = "form-control col-md-2" } })
                @Html.ValidationMessageFor(model => model.Minor1, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-md-7">
            <div class="form-group">
                @Html.LabelFor(model => model.Minor2, htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(model => model.Minor2, new { htmlAttributes = new { @class = "form-control col-md-3" } })
                @Html.ValidationMessageFor(model => model.Major2, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group">
        @Html.LabelFor(model => model.Advisor, htmlAttributes: new { @class = "control-label col-md-1" })
        @Html.EditorFor(model => model.Advisor, new { htmlAttributes = new { @class = "form-control col-md-4" } })
        @Html.ValidationMessageFor(model => model.Advisor, "", new { @class = "text-danger" })
        <div class="col-md-7"></div>
    </div>

    <br />
        <div class="form-group">
            <div class="col-md-offset-4">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
}

<div>
    @Html.ActionLink("Back to Index", "Index")
</div>

<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
