﻿@{
    ViewBag.Title = "Index";
}
<br />

<p>
    Links to the rest of the pages.
</p>
<ul>
    <li>@Html.ActionLink("Create New Request", "Change")</li>
    <li>@Html.ActionLink("Waiting Forms", "ChangeList")</li>
</ul>


