﻿body {
    background-color: whitesmoke;
}

.table th {
    color: floralwhite;
    text-align: center;
    background-color: blue;
}

.table td {
    text-align: center;
    background-color: lightblue;
}

#commonElements {
}

#downPaymentOptions {
}
