﻿
@{
    ViewBag.Title = "Stock Report";
}
<div class="row text-center">
    <h2><img src="~/Content/skullandcrossbones.png" /> Stock Report <img src="~/Content/skullandcrossbones.png" /></h2>
</div>
<form>
    <div class="has-error" id="symbolError"></div>
    <div class="row">
        <div class="col-md-3">
            Stock Symbol:
            <select id="stockSymbol"></select>

            @*Comment out the above line to remove dropdown box*@
            @*Uncomment the line below for text input box*@

            @*<input id="stockSymbol" name="stockSymbol" />*@
        </div>
        <div class="col-md-3">
            Start Day:
            <input id="beginDay" name="beginDay" placeholder="1/1/1900" />
        </div>
        <div class="col-md-3">
            End Day:
            <input id="endDay" name="endDay" placeholder="11/30/2016" />
        </div>
        <div class="col-md-3">
            <input id="request" type="button" name="request" value="Request" />
            @*<input id="test" type="button" name="test" value="Test Me" />*@
        </div>
    </div>
</form>

<hr />

<div class="row">
    <div class="col-md-7">
        <div id="placeholder" style="width:600px;height:300px"></div>
    </div>
    <div class="col-md-5">
        <div class="row">
            <div class="col-md-3 text-right">
                <h2 id="stockLabel"></h2>
            </div>
            <div class="col-md-9 text-center">
                <h2 id="stock"></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-right">
                <h2 id="marketLabel"></h2>
            </div>
            <div class="col-md-9 text-center">
                <h2 id="market"></h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 text-right">
                <h2 id="nameLabel"></h2>
            </div>
            <div class="col-md-9 text-center">
                <h2 id="name"></h2>
            </div>
        </div>

    </div>
</div>
<br />
<div id="Values"></div>
<hr />
<div class="row">
    <div class="col-md-offset-2 col-md-6">
        Select the stock symbol from the drop-down box. Once the box is opened, you may press the first letter
        of the stock to jump to the beginning of the group then you can scroll to browse the names. AAARF is no
        longer in our database but it is usefull to see the error message if the stock isn't found.

        Use the mouse cursor to hover over the plot line to see the approximate price for that day.
    </div>
</div>

@section PageScripts
{
    <script type="text/javascript" src="~/Scripts/flot/jquery.flot.min.js"></script>
    <script type="text/javascript" src="~/Scripts/flot/jquery.flot.time.js"></script>
    <script type="text/javascript" src="~/Scripts/testCode.js"></script>
}