﻿@model IEnumerable<HW6.Models.Product>

@{
    ViewBag.Title = @Html.DisplayFor(modelItem => Model.FirstOrDefault().ProductModel.Name);
}
<div class="row">
    <div class="col-md-offset-2 col-md-3">
        <h2>@Html.DisplayFor(modelItem => Model.FirstOrDefault().ProductModel.Name)</h2>
    </div>
    <div class="col-md-5">
        <h3>Product Number: @Html.DisplayFor(modelItem => Model.FirstOrDefault().ProductNumber)</h3>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-offset-2 col-md-3">
        <img src="data:image;base64,@System.Convert.ToBase64String(Model.FirstOrDefault().ProductProductPhotoes.FirstOrDefault().ProductPhoto.LargePhoto)" width="240" height="150" />
    </div>
    <div class="col-md-7">
        <br />
        <div class="row">
            <div class="col-md-3">Product Name:</div>
            <div class="col-md-4">@Html.DisplayFor(modelItem => Model.FirstOrDefault().ProductModel.Name)</div>
        </div>
        <div class="row">
            <div class="col-md-3">Size:</div>
            <div class="col-md-4">
                @Html.DisplayFor(modelItem => Model.FirstOrDefault().Size)
                @Html.DisplayFor(modelItem => Model.FirstOrDefault().SizeUnitMeasureCode)
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">Color:</div>
            <div class="col-md-4">@Html.DisplayFor(modelItem => Model.FirstOrDefault().Color)</div>
        </div>
        <div class="row">
            <div class="col-md-3">Style:</div>
            <div class="col-md-4">
                @{ var style = Model.FirstOrDefault().Style;}
                @if (style == "U ")
                {
                    @:Universal
                }
                else if (style == "W ")
                {
                    @:Woman's
                }
                else if (style == "M ")
                {
                    @:Men's
                }
                else if (style == null)
                {
                }
                else
                {
                    @Html.DisplayFor(modelItem => Model.FirstOrDefault().Style)
                }
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-3">List Price:</div>
            <div class="col-md-4">@Html.DisplayFor(modelItem => Model.FirstOrDefault().ListPrice)</div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-md-offset-2 col-md-1">
        Description:
    </div>
    <div class="col-md-6">
        @Html.DisplayFor(modelItem => Model.Single().ProductModel.ProductModelProductDescriptionCultures.Where(c => c.CultureID == "en    ").FirstOrDefault().ProductDescription.Description)
    </div>
</div>

<div class="row">
    <div class="col-md-offset-1 col-md-2">
        <h5>Reviews:</h5>
    </div>
</div>
<hr />


<div>
    <div class="row">
        @*Checks to see if there is at least 1 review in database.*@
        @if (Model.FirstOrDefault().ProductReviews.Count() > 0)
        {
            foreach (var review in Model.FirstOrDefault().ProductReviews)
            {
                <div class="row">
                    <div class="col-md-offset-2 col-md-1">
                        Rating: @Html.DisplayFor(modelItem => review.Rating)
                    </div>
                    <div class="col-md-4">
                        @Html.DisplayFor(modelItem => review.Comments)
                    </div>
                </div>
                <br />

            }
        }
        else
        {
            <div class="col-md-offset-3 col-md-3 text-center">
                <p>Be the first to review this item!</p>
            </div>
        }

    </div>
    <div class="row">
        <div class="col-md-offset-4">
            <div class="form-group">
                @Html.ActionLink("Write a Review", "ItemReview", new { id = Model.FirstOrDefault().ProductID })
            </div>
        </div>
    </div>

</div>
