﻿@model IEnumerable<HW6.Models.Product>

@{
    ViewBag.Title = @ViewBag.CatName;
}

<center><h2>@ViewBag.catName</h2></center>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ProductModel.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ProductNumber)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ListPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Size)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Weight)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Style)
        </th>
        <th>
            Thumbnail
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink((string)item.ProductModel.Name, "ItemPage", new { id = item.ProductID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ProductNumber)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ListPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Size)
            @Html.DisplayFor(modelItem => item.SizeUnitMeasureCode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Weight)
            @Html.DisplayFor(modelItem => item.WeightUnitMeasureCode)
        </td>
        <td>
            @*If statements convert the 2 character code to a word for better Customer understanding*@
            @if (item.Style == "U ")
            { 
                @:Universal 
            }
            else if (item.Style == "W ")
            {
                @:Woman's 
            }
            else if (item.Style == "M ")
            { 
                @:Men's 
            }
            else if (item.Style == null)
            {
            }
            else
            {
                @*Probably redundant but will catch anything that was not entered properly or corrupted.*@
                @Html.DisplayFor(modelItem => item.Style)
            }
        </td>
        <td>            
            <img src="data:image;base64,@System.Convert.ToBase64String(@item.ProductProductPhotoes.FirstOrDefault().ProductPhoto.ThumbNailPhoto)" width="80" height="50" />
        </td>
    </tr>
}

</table>

@*Set up prev and next links at the bottom to page through the list instead of needing to 
    scroll down the page. Uses ViewBag to contain some varibles needed for paging to work.
    There are other ways to pass these variables but ViewBag is the easist.*@
<div class="row">
    @{int currentPage = ViewBag.Page;}
    <div class="col-md-1">
        @if (currentPage > 1)
        {
            @Html.ActionLink("<<prev", "SubCategoryList", new { id = Model.FirstOrDefault().ProductSubcategoryID, page = currentPage - 1 })
        }
    </div>
    <div class="col-md-1">
        @if (currentPage <= ViewBag.PageCount)
        {
            @Html.ActionLink("next>>", "SubCategoryList", new { id = Model.FirstOrDefault().ProductSubcategoryID, page = currentPage + 1 })
        }
    </div>
</div>
