﻿@model IEnumerable<HW8.Models.Ship>

@{
    ViewBag.Title = "Ships";
}

<h2>Ships</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ShipName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ShipType)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tonnage)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ShipName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ShipType)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tonnage)
        </td>
    </tr>
}

</table>
