﻿@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Pirates-ARRR-Us</h1>
    <p class="lead">The leading resource for pirates both veteran and rookies.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Pirates</h2>
        <p>
            Find a pirate here or sign up to be selected for a ship.
        </p>
        @Html.ActionLink("Pirates found within", "Pirates", "Pirate")
        </div>
    <div class="col-md-4">
        <h2>Ships</h2>
        <p>See the fiercest ships of the sea. Many ships are just waiting for a crew</p>
        @Html.ActionLink("See your new workplace!", "Ships", "Ship")
    </div>
    <div class="col-md-4">
        <h2>Crews</h2>
        <p>See who is where and how much they made!</p>
        @Html.ActionLink("Roster", "Crews", "Crew")
    </div>
</div>