﻿html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    vertical-align: middle;
}

/*Dropdown menu*/
.white {
    color: white;
}

    .white > li {
        width: 150px;
        padding: 12px 0px 3px 20px;
    }

        .white li ul {
            display: none;
        }

        .white li:hover ul {
            padding: 0px 0px 0px 15px;
            display: block;
        }

.bgcolor {
    background-color: black;
    min-height: 100px;
}
