﻿@*This page is to be loaded as a partial view and is modelless. This way it will not conflict with
    any other page model.*@
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Adventure Works", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>

            @*The two foreach loops allow the menu item to be populated by names of the categories
                and subcategories found in the database. The viewmodel allows access to the names and
                category ids.*@
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav white">
                    @foreach (var item in (List<HW6.ViewModels.MenuCategoryViewModel>)ViewBag.CategoryNames)
                    {
                        <li>
                            @item.Name
                            <ul class="submenu">
                                @foreach (var subitem in (List<HW6.ViewModels.MenuSubcategoryViewModel>)ViewBag.SubcategoryNames)
                                {
                                    if (subitem.CategoryID == item.CategoryID)
                                    {
                                        <li>@Html.ActionLink(subitem.SubName, "SubCategoryList", new { id = (int)subitem.SubcategoryID }) </li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>
</body>