body {
  background-color: #D5D5D5;
}

#matrixSetup {
  background-color: #c4bbc0;
}

#matFieldA {
  background-color: #98b3b3;
}

#matFieldB {
  background-color: #9898b3;
}

#matFieldC {
    background-color: #c4bbc0;
}

fieldset {
  padding: .55em .625em 2em;
  margin: 2px;
  padding-bottom: 2em;
  border: 1px solid black;
  border-top: 0px;
  border-bottom: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  line-height: 2em;
  display: inline;;
}

legend {
  top:0px;
  border: 0;
}

.error {
  color: red;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

#resultTable {
  border-collapse: collapse;;
  /* border-spacing: 10px 1px;*/
  border: 0px solid black;
}

#results > .container > .row > center > fieldset {
  padding-bottom: 1em;
  padding-top: 0em;
}

#resultTable td {
  padding: 0px 5px;
  text-align: right;
}
