.jumbotron {
  padding-top: 60px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  color: inherit;
  background-color: #ccc;
}
.container .jumbotron,
.container-fluid .jumbotron {
  padding-right: 20px;
  padding-left: 40px;
}

body {
  background-color: #eee;
}

.tab {
  text-indent: 30px;
}

dd {
   margin-left: 10px;
}
dd::before {
  content: "-";
}

.featurette-divider {
  border: 2px solid grey;
}

.reqlist {
  text-indent: 4em;
  margin-left: 2em;
  margin-right: 2em;
  padding-top: .5em;
  padding-bottom: 1em;
  text-align: left;
  border-radius: 20px;
  background-color: #bddd85;
}

.reqlist > h3 {
  text-align: center;
}

.table-bordered {
  width: 50%;
  margin: 0px auto;
}
.table th {
  text-align: center;
  background-color: #ccc;
}

.table td {
  text-align:center;
}

.space {
  display: block;
  margin-top: 50px;
}
