﻿@{
    ViewBag.Title = "Home Page";
}

<center><h2>Home Page</h2></center>

<p> This is the home page. Other pages can be reached by the navbar or the following links</p>

<ul>
    <li>@Html.ActionLink("Form - GET", "Page1", "Home")</li>
    <li>@Html.ActionLink("Form - POST", "Page2", "Home")</li>
    <li>@Html.ActionLink("Loan Calculator", "Page3", "Home")</li>
</ul>