﻿
@{
    ViewBag.Title = "Page3";
}
<link href="~/Content/Page3.css" rel="stylesheet" type="text/css" />
<center><h2>Homework Task 4 - Car Loan Calculator</h2></center>


@{
    if (IsPost && ViewBag.final == true)
    {
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <table class="table table-bordered" id="commonElements">
                    <thead>
                        <tr>
                            <th>Loan Amount</th>
                            <th>Term of Loan</th>
                            <th>Interest Rate</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>@ViewBag.amount</td>
                            <td>@ViewBag.months</td>
                            <td>@ViewBag.interest</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-4"></div>
        </div>

        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <table class="table table-bordered" id="downPaymentOptions">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Original Down Payment</th>
                            <th>10% Down</th>
                            <th>20% Down</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Down Payment:</th>
                            <td>@ViewBag.downPayment</td>
                            <td>@ViewBag.downPayment2</td>
                            <td>@ViewBag.downPayment3</td>

                        </tr>
                        <tr>
                            <th>Month Payments:</th>
                            <td>@ViewBag.monthly</td>
                            <td>@ViewBag.monthly2</td>
                            <td>@ViewBag.monthly3</td>
                        </tr>
                        <tr>
                            <th>Total Cost:</th>
                            <td>@ViewBag.total</td>
                            <td>@ViewBag.total2</td>
                            <td>@ViewBag.total3</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div class="col-sm-2"></div>
        </div>
        <br />
        @Html.ActionLink("Go Back to Previous Page", "Page3", "Home");
    }
    else
    {
        <p>Enter the loan information; Amount, Interest Rate, Number of Months, and Downpayment.</p>

        <form method="post" class="form-inline">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <label for="amount">Price of Vehicle:</label>
                    <input type="number" class="form-control" name="amount" value=@ViewBag.amount min="1000" step="50" required />
                </div>
                <div class="col-md-2">
                    <label for="interest">Interest Rate:</label>
                    <input type="number" class="form-control" name="interest" value=@ViewBag.interest step="0.05" min="0" required />
                </div>
                <div class="col-md-2">
                    <label for="months">Loan Term:</label>
                    <input type="number" class="form-control" name="months" value=@ViewBag.months min="12" max="72" step="12" required />
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-2">
                    <label for="downPayment">Downpayment:</label>
                    <input type="number" class="form-control" name="downPayment" value=@ViewBag.downPayment min="0" required />
                    <input type="submit" name="submit" value="Submit" />
                </div>
                <p class="alert-danger">@ViewBag.message</p>
            </div>
        </form>
    }
}

