﻿
@{
    ViewBag.Title = "Page2";
}

<h2>Homework Task 3</h2>

<p>Enter two sentences of arbitrary length then click the submit button for something interesting</p>

<form method="post" class="form-inline">
    <span>
        <label for="firstName">First Name:</label>
        <input type="text" class="form-control" name="firstName" value="John" />
        <label for="lastName">Last Name:</label>
        <input type="text" class="form-control" name="lastName" value="Smith" />
    </span>
    <input type="submit" name="submit" value="Submit" />
</form>
<hr />

<p>@ViewBag.message</p>