﻿
@{
    ViewBag.Title = "Task 2";
}

<h2>Homework Task 2</h2>

<p>Enter two sentences of arbitrary length then click the submit button for something interesting</p>

<form method="get" class="form-inline">
    <span>
        <label for="firstSentence">1st sentence:</label>
        <input type="text" class="form-control" name="firstSentence" value="This is the first sentence with added words." />
        <label for="secondSentence">2nd sentence:</label>
        <input type="text" class="form-control" name="secondSentence" value="This is the second sentence." />
    </span>
    <input type="submit" name="submit" value="Submit" />
</form>
<hr />

<p>@ViewBag.first</p>
<p>@ViewBag.second</p>

