﻿
@{
    ViewBag.Title = "Booty";
}

<div class="row"><div class="col-md-10 text-center"><h1>Booty Totals</h1></div></div>
<hr />
<div id="tableStart"></div>

@section PageScripts
{
    <link href="~/Content/Booty.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="~/Scripts/Booty.js"></script>
}