﻿@model IEnumerable<HW8.Models.Crew>

@{
    ViewBag.Title = "Crew";
}

<h2>Crew</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pirate.PirateName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ship.ShipName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BootyValue)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pirate.PirateName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ship.ShipName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BootyValue)
        </td>
    </tr>
}

</table>
